
@model ManageMyTeam.Models.ReporDepartmentResult

@{
    var jsonItems = Newtonsoft.Json.JsonConvert.SerializeObject(Model.WeekLoadDepartment);
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<canvas id="myChart1"></canvas>




<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var allItem =  @Html.Raw(jsonItems);
            console.log(allItem);
            var labels = [];
            var ScheduledHoursDepartment = [];
            var DemandHoursDepartment = [];
            var MaximumHoursDepartment = [];
            for (var qi = 0; qi < allItem.length; qi++) {
                labels.push(allItem[qi].CurrentWeek);
                ScheduledHoursDepartment.push(allItem[qi].ScheduledHoursDepartment)
                MaximumHoursDepartment.push(allItem[qi].MaximumHoursDepartment)
                DemandHoursDepartment.push(allItem[qi].DemandHoursDepartment)
            }
            var x = new Chart(document.getElementById("myChart1"), {
                type: 'bar',
                data: {
                    datasets: [
                        {
                            label: 'ScheduledHoursDepartment',
                            data: ScheduledHoursDepartment,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)'
                            ],
                        },
                        {
                            label: 'MaximumHoursDepartment',
                            data: MaximumHoursDepartment,
                            backgroundColor: [
                                'rgba(255, 159, 64, 0.2)'
                            ],
                        },
                        {
                            label: 'DemandHoursDepartment',
                            data: DemandHoursDepartment,
                            backgroundColor: [
                                'rgba(255, 205, 86, 0.2)'
                            ],
                        },
                        
                    ],
                    labels: labels
                    

                },
                options: {
                    scales: {
                        yAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: true,
                                stepSize: 50,
                                max: 600,
                                min: 0
                            }
                        }]
                    }
                }


            });


    });
    </script>
}
