@model ManageMyTeam.Models.Absence

@{
    ViewData["Title"] = "Create";
}

<h1>Neue Absenz</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Grund</label>
                <input asp-for="AbcenceName" class="form-control" />
                <span asp-validation-for="AbcenceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Von</label>
                <input asp-for="AbcenceStart" class="form-control" type="date"/>
                <span asp-validation-for="AbcenceStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Bis</label>
                <input asp-for="AbcenceEnd" class="form-control" type="date"/>
                <span asp-validation-for="AbcenceEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Mitarbeiter</label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Anlegen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zurück zur Übersicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
