@model ManageMyTeam.Models.SchedulingHour

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SchedulingHour</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SchedulingHourId" />
            <div class="form-group">
                <label asp-for="SchedulingHourAmount" class="control-label"></label>
                <input asp-for="SchedulingHourAmount" class="form-control" />
                <span asp-validation-for="SchedulingHourAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchedulingHourDate" class="control-label"></label>
                <input asp-for="SchedulingHourDate" class="form-control" type="week" />
                <span asp-validation-for="SchedulingHourDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Speichern" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zurück zur Übersicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
