@{ ViewData["Manage My Team"] = "Home Page"; }


<div class="text-center">
    <h1 class="display-4">Wilkommen bei Manage My Team</h1>

    <h1 class="display-4">Execution Systems CSL Behring</h1>

</div>
<div class="jumbotron">
    <img src="~/images/CSL.PNG" style="height:35%; width:35%;">

</div>


