@model ManageMyTeam.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Neu</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Name Vorname</label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Work ID</label>
                <input asp-for="WorkID" class="form-control" />
                <span asp-validation-for="WorkID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Pensum</label>
                <input asp-for="WorkLoad"min="0" max="100" class="form-control" />
                <span asp-validation-for="WorkLoad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Funktion</label>
                <select asp-for="FunctionId" class ="form-control" asp-items="ViewBag.FunctionId"></select>
            </div>
            <div class="form-group">
                <label>Value Stream</label>
                <select asp-for="DepartmentId" class ="form-control" asp-items="ViewBag.DepartmentId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Anlegen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zurück zur Übersicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
