
@model ManageMyTeam.Models.ReportResult

@{
    var jsonItems = Newtonsoft.Json.JsonConvert.SerializeObject(Model.WeekLoadEmployee);
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<canvas id="myChart1"></canvas>




<div>
    <a asp-action="Index">Back to List</a>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            var allItem =  @Html.Raw(jsonItems);
            console.log(allItem);
            var labels = [];
            var dataSetAvailableHours = [];
            var dataSetTargetHours = [];
            for (var qi = 0; qi < allItem.length; qi++) {
                labels.push(allItem[qi].CurrentWeek);
                dataSetAvailableHours.push(allItem[qi].AvailableHours)
                dataSetTargetHours.push(allItem[qi].TargetHours)
            }
            var x = new Chart(document.getElementById("myChart1"), {
                type: 'line',
                data: {
                    datasets: [
                        {
                            label: 'zu leistende Stunden (Abzgl. Ferien, anhand Pensum)',
                            data: dataSetAvailableHours
                        },
                        {
                            label: 'Soll Stunden',
                            data: dataSetTargetHours
                        }
                    ],
                    labels: labels
                },
                options: {
                    scales: {
                        yAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: true,
                                stepSize: 10,
                                max: 60,
                                min: 0
                            }
                        }]
                    }
                }


            });


    });
    </script>
}
/*
*/