@model ManageMyTeam.Models.RequirementHour

@{
    ViewData["Title"] = "Create";
}

<h1>Neue Anforderung</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Stunden pro Woche</label>
                <input asp-for="RequirementHourAmount" class="form-control" />
                <span asp-validation-for="RequirementHourAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Kalenderwoche</label>
                <input asp-for="RequirementHourDate" class="form-control" type="week" />
                <span asp-validation-for="RequirementHourDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Projekt</label>
                <select asp-for="ProjectId" class ="form-control" asp-items="ViewBag.ProjectId"></select>
            </div>
            <div class="form-group">
                <label>Abteilung</label>
                <select asp-for="DepartmentId" class ="form-control" asp-items="ViewBag.DepartmentId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Anlegen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zurück zur Übersicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
